@model HitsInternshipAssistant.Data.ViewModels.CreateVacancyViewModel

@{
    ViewData["Title"] = "Create";
}


<h5>Новая вакансия</h5>
<div class="row  d-flex justify-content-center">
        <form asp-action="CreateVacancy" enctype="multipart/form-data" asp-route-companyId="@ViewContext.HttpContext.Request.Query["companyId"]">
            
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label font-weight-bold">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <label asp-for="RequiredSkills" class="control-label font-weight-bold">Требование к знаниям</label>
                <textarea  asp-for="RequiredSkills" class="form-control"></textarea>
                <span asp-validation-for="RequiredSkills" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <label asp-for="TechStack" class="control-label font-weight-bold">Технический стек</label>
                <textarea  asp-for="TechStack" class="form-control" ></textarea>
                <span asp-validation-for="TechStack" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <label asp-for="AdditionalInfo" class="control-label font-weight-bold">Дополнительная информация</label>
                <textarea  asp-for="AdditionalInfo" class="form-control" ></textarea>
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group  mt-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <button type="submit" class="btn mt-3" style="background-color: #1794AC; width: 200px; color: white">Сохранить</button>
            </div>
        </form>
</div>

           


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
