@using HitsInternshipAssistant.Data.Models
@model IEnumerable<HitsInternshipAssistant.Data.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "Layouts/_Layout";
}
@if (User.IsInRole(Roles.Admin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container">
    <h1>Список компаний</h1>
    <div class="row">
        <div class="col">
            <div class="companyPoster mb-3" style="background-image:url('/img/Companies/kreosoftBg.png')">
                <div class="posterShortName">
                    <span class="posterShortNameFont">KREOSOFT</span>
                </div>
                <div class="posterMoto ">
                    <span class="posterMotoFont  ">Ваша идея - наша реализация</span>
                </div>
                <div class="posterDetails">
                    <span class="posterDetailsFont  ">Подробнее о компании...</span>
                </div>
                <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="99b8e8f0-a2ea-4e4d-2b41-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
            </div>
            <div class="companyPoster mb-3" style="background-color:#E41D30">
                <div class="posterShortName">
                    <span class="posterShortNameFont"> ЦФТ</span>
                </div>
                <div class="posterMoto ">
                    <span class="posterMotoFont">Ведущий российский финтех-провайдер</span>
                </div>
                <div class="posterDetails">
                    <span class="posterDetailsFont">Подробнее о компании...</span>
                </div>
                <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="be1006e1-0fd1-45ab-2b3f-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
                @if (!String.IsNullOrEmpty(Model.First().LogoLink))
                {
                    <div class="posterLogo">
                        <img src="/img/Companies/ЦФТ.png">
                    </div>
                }
            </div>
            <div class="companyPoster mb-3" style="background-color:#F0F0F0">
                <div class="posterShortName">
                    <span class="posterShortNameFont text-black">red_mad_robot</span>
                </div>
                <div class="posterMoto ">
                    <span class="posterMotoFont text-black">Роботы - цифровые люди</span>
                </div>
                <div class="posterDetails">
                    <span class="posterDetailsFont text-black">Подробнее о компании...</span>
                </div>
                <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="a5779621-fb32-42a4-2b40-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
                @if (true)// check for logo link
                {
                    <div class="posterLogo">
                        <img src="/img/Companies/red_mad_robot.png">
                    </div>
                }
            </div>
            @*<div class="companyPoster mb-3" style="background-color:#BAB8BD">
            <div class="posterShortName">
            <span class="posterShortNameFont text-black">ТГУ</span>
            </div>
            <div class="posterMoto ">
            <span class="posterMotoFont text-black">Возможности для каждого</span>
            </div>
            <div class="posterDetails">
            <span class="posterDetailsFont text-black">Подробнее о компании...</span>
            </div>
            <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="99b8e8f0-a2ea-4e4d-2b41-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
            @if (true)// check for logo link
            {
            <div class="posterLogo">
            <img src="/img/Companies/red_mad_robot.png">
            </div>
            }
            </div>*@
            @* <div class="companyPoster mb-3" style="background-color:#005aab">
            <div class="posterShortName">
            <span class="posterShortNameFont  ">СПОРТМАСТЕР</span>
            </div>
            <div class="posterMoto ">
            <span class="posterMotoFont  ">Ни дня без спорта</span>
            </div>
            <div class="posterDetails">
            <span class="posterDetailsFont  ">Подробнее о компании...</span>
            </div>
            <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="99b8e8f0-a2ea-4e4d-2b41-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
            @if (true)// check for logo link
            {
            <div class="posterLogo">
            <img src="/img/Companies/спортмастер_лого.png">
            </div>
            }
            </div>*@
            <div class="companyPoster mb-3" style="background-color:#000000">
                <div class="posterShortName">
                    <span class="posterShortNameFont  ">НТР</span>
                </div>
                <div class="posterMoto ">
                    <span class="posterMotoFont ">Разработка информационных систем</span>
                </div>
                <div class="posterDetails">
                    <span class="posterDetailsFont  ">Подробнее о компании...</span>
                </div>
                <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="0babc22e-03e7-4969-2b42-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
                @if (true)// check for logo link
                {
                    <div class="posterLogo">
                        <img src="/img/Companies/НТРБелый.png">
                    </div>
                }
            </div>
            @*<div class="companyPoster mb-3" style="background-color:#BAB8BD">
            <div class="posterShortName">
            <span class="posterShortNameFont text-black">Микран</span>
            </div>
            <div class="posterMoto" style="max-width:400px;">
            <span class="posterMotoFont text-black ">Ведущий проихводитель
            радиоэлектроники</span>
            </div>
            <div class="posterDetails" style="top:160px">
            <span class="posterDetailsFont text-black ">Подробнее о компании...</span>
            </div>
            <a class="btn btn-light btn-lg posterButton" asp-action="GetCompanyVacantions" asp-controller="Vacancies" asp-route-companyId="99b8e8f0-a2ea-4e4d-2b41-08da55252d9a"> <span class="posterButtonFont">Вакансии</span> </a>
            @if (true)// check for logo link
            {
            <div class="posterLogo">
            <img src="/img/Companies/Микран.png">
            </div>
            }
            </div>*@
        </div>
    </div>

</div>
