#serviceName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #1794AC;
}

#containerHeader {
    width: 100% !important;
    margin: 0;
}

#navHeader {
    width: 100% !important;
    box-shadow: none !important;
    border-bottom: none !important;
}

#searchForm {
    background-color: #00000000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    color: #2b2b2c;
}


    #searchForm:focus {
        box-shadow: none;
        border: none;
        color: #2b2b2c;
    }

    #searchForm:-moz-placeholder {
        color: #BAB8BD !important;
    }

    #searchForm::-moz-placeholder {
        color: #BAB8BD !important;
    }

    #searchForm::-webkit-input-placeholder {
        color: #BAB8BD !important;
    }


    #formContainer {
        height: 46px !important;
        background-color: #A1D4E226;
        border-radius: 10px;
        border: none;
        color: #BAB8BD;
    }


.listItemsSidePanel {
    font-size: 20px;
    border: none;
}

.itemSidePanel {
    font-family: 'Roboto';
    font-style: normal;
    border: none;
}

.listItemsSidePanel :hover {
    background-color: #A1D4E2;
    border: none;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.listItemsSidePanel :hover .menuIcons {
    color: white;
}

.menuIcons {
    color: #A1D4E2;

}

.footer {
    box-shadow: none !important;
    border: none !important;
}

a {
    outline: none !important;
    color: black !important;
    text-decoration: none !important;
}
