.emptyTitle {

    color: #BAB8BD;
    margin-left: 25% !important;
}

#emptyImg {
    height:70% !important;
    width: 35% !important;
    margin-left:20%;
}

.resume-btn {
    background-color: #1794AC;
    color: white;
}

.ref-info {
    color: #1794AC;
    cursor:pointer;
}
