@model IEnumerable<HitsInternshipAssistant.Data.Models.VacancyApply>

<link rel="stylesheet" href="~/css/vacancyApply/vacancyApply.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}

@*<h1 class="mb-3 mt-4">Отклики на ваши вакансии</h1>*@


@if (!Model.Any())
{
    <div class="d-flex flex-column h-100 justify-content-center col-9">
        <div class="emptyTitle text-center h3 w-50">
            Похоже, тут пока ничего нет.
            Отдохните!
        </div>
        <img id="emptyImg" src="~/img/EmptyVacancyApplies.png" class="d-flex align-self-center p-0 m-0" />
    </div>
}

else
{
    @foreach (var item in Model)
    {
        String fullName = item.User.FirstName + " " + item.User.Patronymic + " " + item.User.LastName;
        
        <div class="card-model card rounded-3 bg-light m-4 col-9">
            <div class="card-model card-body rounded-3 bg-light row w-100 p-2 m-0">
                <div class="col-8">
                    <h5 class="card-title">@fullName</h5>
                    <p class="card-text text-secondary">@item.User.WorkDirection</p>
                    <a class="ref-info w-25">Подробнее...</a>
                </div>
                <div class="col-4 d-flex align-self-end">
                    <form asp-action="Details" asp-route-id="@item.Id" class="w-100" method="post">
                    <button class="resume-btn btn btn-primary p-2 d-flex align-items-end justify-content-center rounded-3 w-100">Резюме</button>
                    </form>
                </div>
            </div>
        </div>
    }
}
