@model IEnumerable<HitsInternshipAssistant.Data.Models.CompanySpeech>

@{
    ViewData["Title"] = "Index";
}

<h1>График</h1>

<h3>Данный раздел находится в разработке</h3>
<h3>Выглядить он будте так</h3> 
<img src="/img/table_plug.png">